  // flex

  flexboxCenter(value)
    display flex
    justify-content value
    align-items value

  flexboxWrap(value)
    display: flex;
    flex-wrap: value;

  flexboxColomnReverse(flexFlow)
    display: flex;
    align-items: flex-start;
    flex-flow: flexFlow;

  justifyContent(value)
    display flex
    justify-content value
    align-items center
