// breakepoint for media

$sm = 576px
$md = 768px
$lg = 992px
$xl = 1100px

media-breakpoint-up(nSize)
  condition = 'screen and (min-width: %s)' % nSize
  @media condition
    {block}

media-breakpoint-down(nSize)
  condition = 'screen and (max-width: %s)' % nSize
  @media condition
    {block}

column(colSize)
  max-width 100%/colSize